<main>
  <section class="form-section">
    <img src="/svg/logo.svg" alt="MoveIt logo featuring bold stylized text MoveIt with dynamic lines suggesting movement, set against a clean modern background, conveying energy and motivation">
    <h2></h2>
    <button type="button">Login Now</button>
      <div>
        <span>or</span>
      </div>
    <button type="button">oi</button>
  </section>
  <section class="main-section">
    <h1>You Should, MoveIt!</h1>
    <img src="/svg/main-illustration.svg" alt="Person in athletic clothing stretching in a bright modern gym with motivational text You Should MoveIt displayed in bold letters, conveying an energetic and encouraging atmosphere">
  </section>
</main>

